// Color palette.
@sea: #0033a0;
@wine: #9a0000;
@semigray: #e3e3e3;
@shadow: #333333;

// Font weights.
@normal: 400;
@bold: 700;

// Font families.
@primary-font: Optima, "Helvetica Neue", Helvetica, Arial, sans-serif;
@code-font: Inconsolata, Menlo, Monaco, "Lucida Console", Courier, monospace;

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: @normal;
  src: local('Inconsolata'), local('Inconsolata'), url('../fonts/inconsolata.woff2') format('woff2'), url('../fonts/inconsolata.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: @bold;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url('../fonts/inconsolata-bold.woff2') format('woff2'), url('../fonts/inconsolata-bold.woff') format('woff');
}

code {
  font-family: @code-font;
  font-size: inherit;
  font-weight: inherit;
}

table, td, tbody, tr, th {
  font-family: @primary-font;
  font-size: inherit;
  font-weight: inherit;
}

.navi {
  line-height: 90%;
}

.navi a {
  line-height: 90%;
}

.navi table {
  width: 75%;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 250%;
  padding: 0em;
  margin: 0em;
}

h2 {
  font-style: normal;
  font-size: 130%;
  font-weight: normal;
  margin: 0em;
  padding: 0px;
}

.info {
  font-size: 120%;
}

.quote {
  font-size: 90%;
}

.contact td {
  vertical-align: top;
}
.contact table {
  padding-left: 4em;
}
.contact td {
  padding-left: 1em;
  padding-bottom: 1em;
}

body {
  background-color: @semigray;
  margin-bottom: 20px;
  font-family: @primary-font;
  font-weight: normal;
  font-size: 16px;
}

.module {
  max-width: 70em;
  min-width: 40em;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2em;
  border-radius: 9px;
  box-shadow: 0 2px 3px @shadow;
}

.me {
  border-radius: 9px;
  box-shadow: 0 2px 3px @shadow;
}

a:link,
a:visited,
.audio-clip:link,
.audio-clip:visited {
  text-decoration: none;
  color: @sea;
}

a:hover,
.audio-clip:hover {
  text-decoration: none;
  color: @wine;
}

/* The article preview CSSes were borrowed directly from Adrian Sampson. */
article .preview {
  margin-top: 1.5em;
}

article .preview h3 {
  margin: 0;
  font-family: @primary-font;
}

article .preview h3 a {
  color: inherit;
  text-decoration: none;
}

article .preview .excerpt p {
  margin: 0;
}

article .full {
  margin-top: 1em;
}

article .full h1 {
  font-size: 1.5em;
}

article .full h2 {
  font-size: 1.3em;
}

article .full h3 {
  font-size: 1em;
}

article .full h4 {
  font-size: 0.8em;
}

article .full h5 {
  font-size: 0.7em;
}

.archive ul {
  list-style: none;
  margin-left: -25px;
}

.katex {
  font-size: 1.15em !important;
}