---
layout: default
---

<h1><a href="{{ site.base }}/blog/index.html">Letters in Flux</a></h1>
<h5>Modern programming language theory, materials, and techniques for the working computer scientist.</h5>

<hr/>

<div class="archive">
<div class="row">
  <div class="col-sm-3">

    <h3>Archive</h3>
    
    {% assign counter = 1 %}

    {% for post in site.posts %}
      {% assign current_date = post.date | date: "%B %Y" %}
      {% if current_date != date %}
        {% unless forloop.first %}</ul></div>{% endunless %}
        <div class="panel-group">
          <div class="panel panel-default" style="margin-bottom: -20px">
            <div class="panel-heading">
              <div style="font-size: 16px" class="panel-title">
                <a data-toggle="collapse" href="#y{{ post.date | date: '%Y' }}m{{ post.date | date: '%m' }}">
                  {{ current_date }}
                </a>
              </div>
            </div>
          </div>
        </div>
        {% if counter == 1 %}
          <div id="y{{ post.date | date: '%Y' }}m{{ post.date | date: '%m' }}" class="panel-collapse collapse in">
        {% else %}
          <div id="y{{ post.date | date: '%Y' }}m{{ post.date | date: '%m' }}" class="panel-collapse collapse">
        {% endif %}
        <ul class="list-group" style="margin-left: 0px; margin-right: 0px">
        {% assign date = current_date %}
      {% endif %}
        <li class="list-group-item">
          <a href="{{ post.url }}" style="font-size: 14px">
            {{ post.date | date: "%b %-d" }}: {{ post.title }}
          </a>
        </li>
      {% if forloop.last %}</ul></div>{% endif %}
      {% assign counter = counter | plus: 1 %}
    {% endfor %}

  </div>

  <div class="col-sm-9">
    {{ content }}
  </div>
</div>
</div>