<!DOCTYPE html>

<!-- Set language to English. -->
<html lang="en">
  <head>
    <!-- Choosing the default character set. -->
    <meta charset="utf-8">

    <!-- The title to appear in the tab name. -->
    <title>
      {{ site.name }}{% if page.title %}: {{ page.title }}{% endif %}
    </title>

    <!-- Device-compatibility: Resizes on smaller-sized windows. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
                                   maximum-scale=1.0, user-scalable=no">

    {% if page.collection == "drafts" or page.title == "Blog Drafts" %}
    <!-- Don't index blog drafts. -->
    <meta name="robots" content="noindex">
    {% endif %}

    <!-- Linking in some stylesheets to make things render nicely. -->
    <link rel="stylesheet" href="{{ site.base }}/media/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.base }}/media/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.base }}/media/css/styles.css">
    
    {% if page.katex %}
    <!-- Linking in KaTeX if MathJax is chosen (i.e. overriding it.) -->
    <link rel="stylesheet" href="{{ site.base }}/media/css/katex.min.css">
    {% endif %}
    
    <!-- Description and author of the webpage. -->
    <meta name="description" content="Webpage">
    <meta name="author" content="Chirag Bharadwaj">

    <!-- Opengraph styling, if some other page links to this one. -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ page.excerpt }}">

    <meta property="og:image" content="{{ site.base }}/media/opengraph.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="600">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right" style="margin-top: 10px">
            {% assign shorturl = page.url | replace:'index.html','' %}
            {% for item in site.navigation %}
            <li{% if item.link == shorturl or item.link == '/blog/' and page.dat %} class="active"{% endif %}>
              <a href="{{ site.base }}{{ item.link }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <h3><b><a href="{{ site.base }}/">Chirag Bharadwaj</a></b></h3>
        </br>
        <h5>M.Sc. candidate in Computer Science</h5>
      </div>
    </div>

    <div id="text" class="container container-md">
      {{ content }}
    </div>

    <script src="{{ site.base }}/media/js/jquery-3.1.1.min.js"></script>
    <script src="{{ site.base }}/media/js/bootstrap.min.js"></script>

    {% if page.katex %}
    <!-- Auto-rendering KaTeX on pages with equations. -->
    <script src="{{ site.base }}/media/js/katex.min.js"></script>
    <script src="{{ site.base }}/media/js/auto-render.min.js"></script>
    <script>
      // KaTeX auto-rendering.
      renderMathInElement(document.body, {
        delimiters: [
          {left: "$$", right: "$$", display: true},
          {left: "\\[", right: "\\]", display: true},
          {left: "$", right: "$", display: false}
        ]
      });
    </script>
    {% endif %}

  </body>
</html>