---
layout: default
---

<div class="row">
<div class="col-sm-3">
  <img src="{{ site.base }}/media/me.jpg" alt="Portrait of Chirag Bharadwaj."
       width="100%" class="img-rounded"/>
  <h3><i>SHUH-rahg </br> bah-ruhd-WAHJ*</i></h3>
  <h5>
    *According to
    <a href="https://en.wikipedia.org/wiki/IAST">IAST</a>, the traditional
    pronunciation is <i>Chirāg Bhāradvāja</i>.
  </h5>
  <table class="table table-condensed" style="margin-bottom: -5px">
  <tbody>
    <tr>
      <td>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </td>
      <td>
        Cornell University '17
      </td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </td>
      <td>
        {{ site.location }}
      </td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </td>
      <td>
        Created on {{ site.created }}<sup>†</sup>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  </table>
  <h6>
    <sup>†</sup>Technically, this site is an amalgam of a number of sites
    that I have operated since I was in high school, from a Wordpress
    <a href="https://theroguemathematician.wordpress.com">blog</a>
    to a static HTML website to some Google sites. The modern site, with
    the merged content and remastered appearance, was made in Jan. 2015.
  </h6>
  <h5 align="right">
    Copyright &copy; 2009-2016. </br> All rights reserved.
  </h5>
</div>
<div class="col-sm-9">

  {{ content }}

</div>
</div>