---
layout: default
---

<div class="row">
<div class="col-sm-3">
  <div class="me">
    <img src="{{ site.base }}/media/me.jpg" alt="Photo: Chirag Bharadwaj."
         width="100%" class="img-rounded"/>
  </div>
  <h5>Alter ego: Carl Sagan.</h5>
  <h4><a href="https://github.com/chiragbharadwaj"><code>@chiragbharadwaj</code></a></h4>
  <table class="table table-condensed" style="margin-bottom: 20px">
  <tbody>
    <tr>
      <td>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </td>
      <td>
        Cornell University '17
      </td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </td>
      <td>
        {{ site.location }}
      </td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </td>
      <td>
        {{ site.born }}
      </td>
    </tr>
  </tbody>
  </table>
</div>
<div class="col-sm-9">

  {{ content }}

</div>
</div>