---
layout: default
---

<h2 class="with-tagline">{{ page.title }}</h2>

{% if page.collection == "drafts" %}
<p class="tagline">unpublished draft</p>
{% else %}
<p class="tagline">{{ page.date | date: '%-d %B %Y' }}</p>
{% endif %}

<article class="full">

  {{ content }}

</article>

<hr />

<footer>
  If you have comments, questions, or concerns, feel free to reach out to me
  <a href="mailto:{{ site.email }}?subject={{ page.title | prepend: 'Re: ' | url_escape }}">
    via email</a>.

  Also, if you find a typo, please let me know so I don't perpetuate false information!
  You can
  <a href="{{ site.github }}/home/edit/master/{{ page.path }}">
    issue a pull request</a>.
</footer>