---
layout: default
---

{% if page.location == "winskel" %}
  {% assign loc = site.winskel %}
  {% assign yml = site.data.winskel %}
{% endif %}

<h1><a href="{{site.base}}/media/{{yml.text}}">{{ page.topics | markdownify }}</a></h1>
<h5>{{ page.description | markdownify }}</h5>

<hr/>

{% for chapter in yml.chapters %}
  <h2>Chapter {{ chapter.num }}: {{ chapter.title }}</h2>
  <div class="excerpt">
    {{ chapter.excerpt | markdownify }}
  </div>
  {% assign sorted = (loc | where: 'chapter', chapter.num | sort: 'problem')%}
  {% for post in sorted %}
    <b>Exercise {{ post.chapter }}.{{ post.problem }}:</b>
    <a href="{{ site.base }}{{ post.url }}">{{ post.title }}</a></br>
  {% endfor %}

  <br/>
{% endfor %}

{{ content }}

<hr />

<footer>
  Questions, comments, or concerns? Feel free to reach out to me
  <a href="mailto:{{ site.email }}?subject={{ page.title | prepend: 'Re: ' | url_escape }}">
    via email</a>.

  Also, if you find a typo, please let me know! You can
  <a href="{{ site.github }}/home/edit/master/{{ page.path }}">
    issue a pull request</a> on Github.
</footer>